receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317
      http:
        endpoint: 0.0.0.0:4318
        cors:
          allowed_origins:
          - '*'
          allowed_headers:
          - '*'
connectors:
  spanmetrics:
    namespace: traces_spanmetrics
    histogram:
      explicit:
        buckets:
        - 5ms
        - 10ms
        - 25ms
        - 50ms
        - 100ms
        - 250ms
        - 500ms
        - 1s
        - 2.5s
        - 5s
        - 10s
    dimensions:
    - name: http.method
    - name: http.status_code
    - name: http.route
    - name: http.target
    - name: db.system
    - name: db.operation
  servicegraph:
    latency_histogram_buckets:
    - 5ms
    - 10ms
    - 25ms
    - 50ms
    - 100ms
    - 250ms
    - 500ms
    - 1s
    - 2.5s
    - 5s
    - 10s
    dimensions:
    - http.method
    - http.status_code
    store:
      ttl: 2s
      max_items: 1000
processors:
  batch:
    timeout: 1s
    send_batch_size: 1024
  resource:
    attributes:
    - key: environment
      value: dev
      action: upsert
    - key: platform
      value: eregistrations
      action: upsert
  filter:
    error_mode: ignore
    traces:
      span:
      - IsMatch(name, ".*health.*")
      - IsMatch(name, ".*liveness.*")
      - IsMatch(name, ".*readiness.*")
      - IsMatch(name, ".*actuator.*")
      - IsMatch(name, ".*/status[/?$]*$")
      - IsMatch(name, ".*\\^status.*")
      - IsMatch(name, ".*/api/status$")
      - IsMatch(name, ".*/api/v1/status$")
exporters:
  otlp_grpc/tempo:
    endpoint: tempo:4317
    tls:
      insecure: true
  prometheus:
    endpoint: 0.0.0.0:8889
    namespace: otel
  prometheus/spanmetrics:
    endpoint: 0.0.0.0:8890
  prometheus/servicegraph:
    endpoint: 0.0.0.0:8891
  debug:
    verbosity: basic
extensions:
  health_check:
    endpoint: 0.0.0.0:13133
  pprof:
    endpoint: 0.0.0.0:1777
  zpages:
    endpoint: 0.0.0.0:55679
service:
  extensions:
  - health_check
  - pprof
  - zpages
  pipelines:
    traces:
      receivers:
      - otlp
      processors:
      - filter
      - resource
      - batch
      exporters:
      - otlp_grpc/tempo
      - spanmetrics
      - servicegraph
      - debug
    metrics:
      receivers:
      - otlp
      processors:
      - batch
      exporters:
      - prometheus
      - debug
    metrics/spanmetrics:
      receivers:
      - spanmetrics
      processors:
      - batch
      exporters:
      - prometheus/spanmetrics
    metrics/servicegraph:
      receivers:
      - servicegraph
      processors:
      - batch
      exporters:
      - prometheus/servicegraph
    logs:
      receivers:
      - otlp
      processors:
      - batch
      exporters:
      - debug
