apiVersion: 1

datasources:
  - name: Tempo
    type: tempo
    access: proxy
    url: http://tempo:3200
    isDefault: true
    editable: false
    jsonData:
      tracesToLogs:
        datasourceUid: 'tempo'
      tracesToMetrics:
        datasourceUid: 'prometheus'
      serviceMap:
        datasourceUid: 'prometheus'
      nodeGraph:
        enabled: true
      search:
        hide: false
      traceQuery:
        timeShiftEnabled: true
        spanStartTimeShift: '1h'
        spanEndTimeShift: '1h'
      spanBar:
        type: 'None'

  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://otel-collector:8889
    editable: false
    jsonData:
      timeInterval: 5s
